.nav-center {
  // margin: 0 auto;
  margin-right: 8%;
  height: 80px;
}
nav {
  background-color: #fff !important;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 1024;
  width: 100%;
  .nav-item {
    font-size: 16px;
    font-weight: 600;
    a {
      line-height: 20px;
      &:hover {
        color: #fb2576;
        transition: 0.8s ease;
      }
    }
  }
  .active{
    color: #fb2576;
  }
}
