.nav-center {
  margin: 0 auto;
  height: 80px;
}
// .p-relative {
//   position: relative;
//   nav {
//     background-color: #fff !important;
//     position: -webkit-sticky;
//     position: fixed;
//     top: 0;
//     z-index: 1024;
//     width: 100%;
//   }
//   ul {
//     display: flex;
//     justify-content: flex-start;
//     li {
//       list-style-type: none;
//     }
//   }
// }
nav {
    background-color: #fff !important;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index: 1024;
    width: 100%;
  }