<section id="footer">
    <div class="main-footer">
        <div class="logoinfo" data-aos="fade-up">
            <h2>Ecommerce site</h2>

            <div class="contact-details">
                <h1>Contact Us</h1>
                <li>
                    <div class="fa fa-phone"></div><a href="tel:+919326048690">+91 0987654321</a>
                </li>
                <li>
                    <div class="fa fa-envelope"></div><a href="mailto:yourmail@gmail.com">yourmail@gmail.com</a>
                </li>
            </div>
        </div>
        <div class="com " data-aos="fade-up">
            <h1>About</h1>
            <ul class="p-0">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="info" data-aos="fade-up">
            <h1>Social Media</h1>
            <div class="sociallogos">
                <div class="logobox">
                    <a href="https://www.instagram.com/mr_manav_chavda/" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://in.linkedin.com/in/manav-chavda-705b03216" target="_blank" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-youtube-play"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- <footer>© Your Copyright {{ year }} All Rights Reserved</footer> -->
    <footer>© Your Copyright 2023 All Rights Reserved</footer>

</section>
